<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Reconciliation</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<style>
  .card {
    margin-top: 10px;
  }

  #footer {
    margin-top: 50px;
  }

  #header {
    margin-top: 0px;
  }
</style>
<body>
<nav class="navbar navbar-dark bg-dark" id="header" style="border: black 2px">
  <img src="./LQ_Logo.png" width="182" height="64" class="d-inline-block align-top" alt="">
  <a class="navbar-brand" href="#" style="margin-top: 10px; align-items: center">
    <div class="footer-copyright text-center py-3">
      Recon Automation
    </div>
  </a>
</nav>
<div class="container-fluid" style="padding-top: 10px; padding-bottom: 10px;">
  <div class="row p-3">
    <div class="col-sm-4">
      <div class="card" style="margin-top: 10px;">
        <div class="card-body">
          <h5 class="card-title">Client Month 1</h5>
          <p class="card-text">CSV will insert into mySql Database.</p>
          <form method="POST" action="/populateDb1" action="/populateDb">
            <input type="submit" value="Submit Client Month 1" class="btn btn-primary" id="submit">
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Client Month 2</h5>
          <p class="card-text">CSV will insert into mySql Database.</p>
          <form method="POST" action='/populateDb2'>
            <input type="submit" value="Submit Client Month 2" class="btn btn-primary" id="submit">
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card ">
        <div class="card-body">
          <h5 class="card-title">Client Month 3</h5>
          <p class="card-text">CSV will insert into mySql Database.</p>
          <form method="POST" action='/populateDb3'>
            <input type="submit" value="Submit Client Month 3" class="btn btn-primary" id="submit">
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card ">
        <div class="card-body">
          <h5 class="card-title">Month 1</h5>
          <p class="card-text">CSV will insert into mySql Database.</p>
          <form method="POST" action='/populateLqDb1'>
            <input type="submit" value="Submit Lq Month 1" class="btn btn-primary" id="submit">
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card ">
        <div class="card-body">
          <h5 class="card-title"> Month 2</h5>
          <p class="card-text">CSV will insert into mySql Database.</p>
          <form method="POST" action='/populateLqDb2'>
            <input type="submit" value="Submit Lq Month 2" class="btn btn-primary" id="submit">
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card ">
        <div class="card-body">
          <h5 class="card-title"> Month 3</h5>
          <p class="card-text">CSV will insert into mySql Database.</p>
          <form method="POST" action='/populateLqDb3'>
            <input type="submit" value="Submit Lq Month 3" class="btn btn-primary" id="submit">
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card ">
        <div class="card-body">
          <h5 class="card-title">Reconciliation</h5>
          <p class="card-text">Export Reconciliation.</p>
          <form method="POST" action='/exportResultMonth'>
            <input type="submit" value="Export Results" class="btn btn-primary" id="submit">
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card ">
        <div class="card-body">
          <h5 class="card-title">Reset Database</h5>
          <p class="card-text">Drop all Exsisting Tables</p>
          <form method="POST" action='/dropAllTables'>
            <input type="submit" value="Drop Tables" class="btn btn-primary" id="submit">
          </form>
        </div>
      </div>
    </div>

  </div>
</div>


<!-- Footer -->

<nav class="navbar navbar-dark bg-dark" id="footer">
  <span class="navbar-text">
    <div class="footer-copyright text-center py-3">
      © 2019 Copyright: David Dobson 
  </div>
  </span>
</nav>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="./upload.js">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.24.min.js"></script>
<script src="aws_config.js"></script>
<script src="s3_upload.js"></script>

